*{
  margin: 0;
  padding: 0;
  font-family:'Montserrat';
  
}
.head-title{
  font-size: 52pt;
  font-weight: 900;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.makeCenter{
  text-align: center;
}
.App-color{
  background-color:rgb(10, 10, 10);
}

.App-link {
  color: #61dafb;
}

