*{
  margin: 0;
  
  
  font-weight: 100;
  


}

body,html{
  height: 100%;
  margin: 0;
}
.head-title{
  font-family: 'Montserrat';
  font-size: 52pt;
  font-weight: 900;
  
}
.details3{
  text-align: center;
  font-size: 36pt;
  font-weight: 700;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.makeCenter{
  text-align: center;
}
.wrap-a{

  height: 100%;
  min-height: 100vh;
}

.doc2{
  height: 100%;
  min-height: 50vh;
  
}


.top-2{
  padding-top: 150px;
}
.typing-letter{

  color:#12b2df;
}
.details{
  font-size: 36pt;
}



@media only screen and (max-width: 768px) {
  .head-title{
    font-size: 28pt;   
  }
  .details{
    font-size:14pt;
  }
  .details3{
    font-size:12pt;
  }
}

