.App {
  text-align: center;
  color: white;
  padding: 25%;
}


.answer{
  background-color:#000;
  font-size: 50pt;
}
.button {
  display: block;

  
}

button {  
  background-color: teal;
  color: white;
  width: 25%;
  height: 70px;
  font-size: 30px;
}
.title{
  color:teal;
  font-size:50pt;
}


